---
layout: page
title: "About"
description: "静时常思己过，闲谈莫论人非"
header-img: "img/about-bg.jpg"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>写写代码，听听音乐<br>
    语言的发明，让信息可以分享;文字的发明，让信息可以记录;</p></blockquote>

    <p>Hey，我是<strong>秦崇家</strong>，程序员 &amp; 设计师，前识君互娱Unity客户端开发工程师，现任思前想后科技有限公司基础工程团队负责人。</p>

    
    <p>喜欢游戏（《英雄联盟》、《绝地求生》）、音乐、电影（《申肖克的救赎》、《这个杀手不太冷》）以及古诗词(《出师表》、《卖炭翁》、《茅屋为秋风所破歌》)。</p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Yet another Web Developer. <br>
    Yet another Life-long Designer.</p></blockquote>

    <p>Hi, I am <strong>Chongjia Qin(秦崇家)</strong>，you can call me <strong>Chuck</strong>. I'm an engineer &amp; a designer who builds softwares (👉 <a href="/portfolio">Portfolio</a> and <a href="http://github.com/huxpro">Github</a>). I studied Digital Media Art and graduated from <a href="https://en.wikipedia.org/wiki/Communication_University_of_China">Communication University of China</a> in 2016.</p>
    

</div>


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
